[submodule "bundle/puppet"]
	path = bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "bundle/syntax_glsl"]
	path = bundle/syntax_glsl
	url = git://github.com/beyondmarc/glsl.vim.git
